*{
	margin: 0;
}

header{
	
}
.hat{
   
}
.hat > img{
	width: 100%;
}
body {
	background-color: #914400;
	height: 2000px;
}
.wrapper {
	margin: 0 auto;
	width: 662px;
	height: 765px;
	padding-top: 70px;
	padding-left: 45px;
	box-sizing: content-box;
	background-image: url('./assets/terminal.png');
	background-size: contain;
	background-repeat: no-repeat;
	
}
main{
	margin-top: 30px;
}
.slider {
	width: 610px;
	height: 610px;
	overflow: hidden;
	z-index: 2;
}
.wrapper > input {
	display: none;
}
.slides {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
	transition: transform ease-in-out 1s;
}

.slide1 { background-image: url('./assets/mem/1.png'); }
.slide2 { background-image: url('./assets/mem/2.png'); }
.slide3 { background-image: url('./assets/mem/3.png'); }
.slide4 { background-image: url('./assets/mem/4.png'); }
.slide5 { background-image: url('./assets/mem/5.png'); }
.slide6 { background-image: url('./assets/mem/6.png'); }
.slide7 { background-image: url('./assets/mem/7.png'); }
.slide8 { background-image: url('./assets/mem/8.png'); }
.slide9 { background-image: url('./assets/mem/9.png'); }
.slide10 { background-image: url('./assets/mem/10.png'); }

.wrapper .controls {
	display: flex;
	margin-top: 50px;
	margin-left: 28px;
}

label > div{
	width: 8px;
	height: 30px;
	border: darkgreen 1px solid;
	transition: background ease-in-out .5s;
	border-radius: 10px;
}


.wrapper label {
	cursor: pointer;
	display: inline-block;
	padding: 10px 5px;
	
}

.wrapper label:hover > div{
	background-color: gold;
}

.wrapper label:active > div{
	transform: scale(0.8);
	transition: 0.1s;
}

#slide1:checked ~ .control-text > .controls label:nth-of-type(1) > div,
#slide2:checked ~ .control-text > .controls label:nth-of-type(2) > div,
#slide3:checked ~ .control-text > .controls label:nth-of-type(3) > div,
#slide4:checked ~ .control-text > .controls label:nth-of-type(4) > div,
#slide5:checked ~ .control-text > .controls label:nth-of-type(5) > div,
#slide6:checked ~ .control-text > .controls label:nth-of-type(6) > div,
#slide7:checked ~ .control-text > .controls label:nth-of-type(7) > div,
#slide8:checked ~ .control-text > .controls label:nth-of-type(8) > div,
#slide9:checked ~ .control-text > .controls label:nth-of-type(9) > div,
#slide10:checked ~ .control-text > .controls label:nth-of-type(10) > div {
	background-color: greenyellow;
	
}


#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5,
#slide6:checked ~ .slider > .slide6,
#slide7:checked ~ .slider > .slide7,
#slide8:checked ~ .slider > .slide8,
#slide9:checked ~ .slider > .slide9,
#slide10:checked ~ .slider > .slide10 {
}

#slide1:checked ~ .slider > .slide1{
	transform: translateY(0);
}
#slide2:checked ~ .slider > .slide2{
	transform: translateY(-100%);
}
#slide3:checked ~ .slider > .slide3{
	transform: translateY(-200%);
}
#slide4:checked ~ .slider > .slide4{
	transform: translateY(-300%);
}
#slide5:checked ~ .slider > .slide5{
	transform: translateY(-400%);
}
#slide6:checked ~ .slider > .slide6{
	transform: translateY(-500%);
}
#slide7:checked ~ .slider > .slide7{
	transform: translateY(-600%);
}
#slide8:checked ~ .slider > .slide8{
	transform: translateY(-700%);
}
#slide9:checked ~ .slider > .slide9{
	transform: translateY(-800%);
}
#slide10:checked ~ .slider > .slide10{
	transform: translateY(-900%);
}

#slide1:checked ~ .control-text > .text-block > .text1{
	transform: translateY(0);
}
#slide2:checked ~ .control-text > .text-block > .text2{
	transform: translateY(-100%);
}
#slide3:checked ~ .control-text > .text-block > .text3{
	transform: translateY(-200%);
}
#slide4:checked ~ .control-text > .text-block > .text4{
	transform: translateY(-300%);
}
#slide5:checked ~ .control-text > .text-block > .text5{
	transform: translateY(-400%);
}
#slide6:checked ~ .control-text > .text-block > .text6{
	transform: translateY(-500%);
}
#slide7:checked ~ .control-text > .text-block > .text7{
	transform: translateY(-600%);
}
#slide8:checked ~ .control-text > .text-block > .text8{
	transform: translateY(-700%);
}
#slide9:checked ~ .control-text > .text-block > .text9{
	transform: translateY(-800%);
}
#slide10:checked ~ .control-text > .text-block > .text10{
	transform: translateY(-900%);
}

.control-text {
	display: flex;
}
.text-block {
	margin-top: 60px;
	margin-left: 75px;
	display: flex;
	flex-direction: column;
	width: 120px;
	height: 30px;
	overflow: hidden;
	border: black 3px solid;
	border-radius: 6px;
	
}
.text {
	font-family: 'Roboto';
	padding: 0 10px;
	background-color: rgb(2, 46, 2);
	color: lime;
	line-height: 30px;
	font-size: 20px;
	white-space: nowrap;
	transition: transform ease-in-out 1s;
}
